body {
  background-color: #52616b;
}
hr {
  border-style: none;
  border-top: dotted;
  border-color: #f0f5f9;
  border-top-width: 12px;
  width: 15%;
}
h1 {
  color: #c9d6df;
  font-family: 'Audiowide';
}
h3 {
  color: #c9d6df;
  font-family: 'Audiowide';
}
img {
  width:200px;
  height:250px;
}
p {
  font-family: 'Architects Daughter';
  font-size: 160%;

}
th {
  font-family: 'Architects Daughter';
}
td {
  font-family: 'Architects Daughter';
}
ol {
  font-family: 'Architects Daughter';
  font-size: 120%;
}
